params {
  help = false

  // Output directory
  outdir = './cluster-results'

  // Input fasta file
  fasta = false

  // Can also select WGS to not split these out
  segments = "HA NA PB2 PB1 PA NP MP NS"
  
  // Decide to mash, cdhit, mmseq
  clusterby = 'mash'

  // Allow to complete for valid samples even if one or more samples fail
  error_strategy='ignore' // 'ignore' or 'terminate'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "${params.outdir}_${params.clusterby}"
  withName: 'MASH_SKETCH' {
    // Treat
    ext.args = '-i'
    publishDir = [ path: "${params.outdir}_${params.clusterby}/mash_sketch", mode: 'copy']
  }
  withName: 'MASH_DIST' { publishDir = [ path: "${params.outdir}_${params.clusterby}/mash_dist", mode: 'copy']}
}

trace {
    enabled = true
    file = "${params.outdir}_${params.clusterby}/trace.txt"
}

manifest {
    name = 'j23414/fasta-cluster'
    description = "A modular workflow for taking a set of sequences and clustering them into representative sequences."
    version = "0.0"
    mainScript = 'main.nf'
}